*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}
@font-face {
    font-family: 'OldLondon';
    src: url('fonts/OldLondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #e2e0ee;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    animation: relampago 3s infinite ease-in-out;

}
@keyframes relampago {
    0%,30%, 90%, 100% {
      background-image: linear-gradient(rgba(255, 255, 255, 0.05),white);

    }
    40% {
      background-image: linear-gradient(rgba(255, 255, 255, 0.2),white);

    }
    50% {
      background-image: linear-gradient(rgba(255, 255, 255, 0.3),white);

    }
    60% {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5),white);

    }
    80% {
      background-image: linear-gradient(rgba(255, 255, 255, 0.1),white);

    }
  
  }
  
.raio{
    position: absolute;
    top: 0px;
    z-index: -1;
    animation: pulsar 3s infinite ease-in-out;
}

@keyframes pulsar {
  0%,30%, 90%, 100% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.6;
  }

}
.raio img{
   opacity: .15;
   max-height: calc(100vh - 20px);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    padding-bottom: 40px;

    width: fit-content;
    height: fit-content;
}
main > a{
    color: blue;
}
main svg{
    width: 40px;
    height: 40px;
    margin: 40px 0px;
}
main svg *{
    fill: black;
}
h1{
    font-family: 'OldLondon', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
main p{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 26px;
}
.linkWpp{
    color: rgb(100, 17, 177);
    z-index: 1;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: end;
}
.cntrBntNotfi svg{
    width: 70px;
    height: 70px;
    margin: 0px 30px 30px 0px;
    padding: 10px;
    cursor: pointer;
}
.cntrBntNotfi{
    display: inline-block;
    position: relative;
}
.notification-badge {
    position: absolute;
    top: 4px;
    right: 34px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
}
.cntrMensagem{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e0ee;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

}
.boxMensagem{
    background-color: black;
    border-radius: 20px;
    width: fit-content;
    padding: 25px;
    z-index: 3;
    position: relative;
}
.topoInsta{
    display: flex;
    justify-content: center;
}
.cntrImg{
    padding: 4px;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    min-width: 160px;
    min-height: 160px;
    position: relative;
}
.cntrImg img{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.cntrNota{
    position: absolute;
    top: -16px;
    left: 20px;
    background-color: #363636;
    border-radius: 14px;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.cntrNota p{
    color: #a8a8a8;
    font-size: 11px;

}
.bola1, .bola2{
    background-color: #363636;
    border-radius: 50%;
    position: absolute;
    position: absolute;
}
.bola1{
    top: 33px;
    left: 10px;
    width: 12px;
    height: 12px;

}
.bola2{
    top: 46px;
    width: 5px;
    height: 5px;
    left: 20px;
}
.cntrBio{
    color: white;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cntrBio p{
    font-size: 14px;
}
.cntrBio p:nth-child(1){
    font-size: 18px;
}
.cntrBio p:nth-child(2){
    font-size: 20px;
    margin-top: 6px;
}
.cntrBio span, .cntrBioMobile span{
    color: grey;
}
.cntrBtnInsta{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.cntrBtnInsta button{
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #0095f6;
    outline: none;
    border: none;
    border-radius: 8px;
    line-height: 18px;
    font-size: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-seri;
    cursor: pointer;
}
#btnInstaSeguir{
    width: 100%;
    margin-right: 10px;
}
#btnInstaFechar{
    min-width: fit-content;
    background-color: #6f6f6f;
}
.cntrBioMobile{
    display: none;
}

@media(max-width:700px){
    .cntrBio p{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .cntrBio p{
        font-size: 14px;
    }
    .cntrBio p:nth-child(3),
    .cntrBio p:nth-child(4),
    .cntrBio p:nth-child(5) {
        display: none;
    }
    .cntrBioMobile{
        display: block;
        color: white;
        font-size: 14px;
        margin-top: 10px;
    }
    .topoInsta{
        justify-content: space-between;
    }
    .cntrBio {
        color: white;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}

@media(max-width:450px){
    .cntrImg{
        width: 140px;
        height: 140px;
        min-width: 140px;
        min-height: 140px;
    }
    .cntrBtnInsta {
        flex-direction: column;
    }
    #btnInstaSeguir{
        margin-bottom: 10px;
    } 
    #btnInstaFechar{
        color: grey;
        background: none;
    }
}
@media(max-width:410px){
    .topoInsta {
        flex-direction: column;
        align-items: center;
    }
    .cntrBio {
        margin-left: 0px;
        align-items: flex-start;
        margin-top: 20px;
    }
    .cntrBio p:nth-child(3),
    .cntrBio p:nth-child(4),
    .cntrBio p:nth-child(5) {
        display: block;
    }
    .cntrBioMobile{
        display: none;
    }
    .cntrImg{
        position: absolute;
        top: -70px;
        background-color: black;
    }
    .boxMensagem{
        padding-top: 60px;
        padding-bottom: 10px;
    }
}