*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    z-index: 1;
}
@font-face {
    font-family: 'OldLondon';
    src: url('fonts/OldLondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-size: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px 40px;
    height: 60px;
}
header p{
    font-size: 40px;
    font-family: 'OldLondon', Arial, Helvetica, sans-serif;
    color: white;
    font-weight: normal;
}
header button{
    padding: 10px;
    cursor: pointer;
    display: none;
}
main{
    position: relative;
    overflow-x: hidden;
}
.raio2{
    position: absolute;
    height: calc(100vh - 60px);
    top: 0px;
    right: 40%;
    z-index: 0;
    opacity: .1;

}
.banner{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
}

.cntrL{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}
.cntrL div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.cntrL div p{
    margin: 20px 0px;
    font-size: 14px;
}
.cntrL div h1{
    font-size: 80px;
}
.contato{
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 40px;
    margin-top: 10px;
    border: none;
    outline: none;
}
.cntrConteudo button{
    padding: 4px;
    background: none;
    border: none;
    outline: none;
    margin-left: 10px;
}
.cntrConteudo button svg{

    width: 20px;
    height: 20px;
}
button{
    cursor: pointer;
}
.cntrR {
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    width: 100%;
}
.cntrR div{
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cntrR picture{
    height: 90%;
    border-radius: 10px;
}
.cntrR img{
    height: 100%;
    border-radius: 10px;
}
.cntrConteudo{
    padding: 50px 60px;
    background-color: rgb(228, 228, 228);
    border-radius: 30px 30px 0px 0px;
    margin: 0px 10px;
    padding-bottom: 200px;
}
.cntrTitle{
    display: flex;
    flex-direction: column;
}
.cntrColor{
    display: flex;

}
.cntrConteudo h2{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.cntrConteudo p{
    font-size: 20px;
    margin-right: 20px;
}
.cntrConteudo p span{
    font-size: 16px;
    opacity: .6;
}
.boxColor{
    display: flex;
}
.btnColor{
    background-color: #ddd;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.btnColor-bordo{
    background-color: #680008;
}
.btnColor-preto{
    background-color: rgb(29, 29, 29);
}
.btnColor-azul{
    background-color: #242b3b;
}
.btnColor-branco{
    background-color: rgb(250, 250, 250);
}
.btnColor-roxo{
    background-color: rgb(121, 0, 121);
    color: white;
}
.btnColor-roxo,
.btnColor-branco{
    cursor: no-drop;
}
.borderBtnColor{
    border: 2px solid rgba(0, 0, 0, 0);
    margin-right: 10px;
    border-radius: 50%;
    padding: 2px;
    transition: .1s;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cntrBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;

}
.imgProduto{
    transition: 1s;
}


@media (max-width: 1240px) {
    .cntrL div h1 {
        font-size: 70px;
    }
    .banner {
        min-height: calc(100vh - 90px);
    }
}
@media (max-width: 1200px) {
    .banner {
        min-height: calc(100vh - 110px);
    }
}
@media (max-width: 1150px) {
    .banner {
        min-height: calc(100vh - 140px);
    }
}
@media (max-width: 1080px) {
    .cntrL div h1 {
        font-size: 60px;
    }
    .banner {
        min-height: calc(100vh - 170px);
    }
}
@media (max-width: 1000px) {
    .cntrL div h1 {
        font-size: 50px;
    }
    .banner {
        min-height: calc(100vh - 190px);
    }
    .cntrL div button {
        font-size: 16px;
        width: 160px;
        height: 36px;
    }
    
}
@media (max-width: 860px) {
    .cntrConteudo {
        padding: 50px 40px;
    }
}

@media (max-width: 825px) {
    .cntrL {
        min-width: 60%;
    }
    .cntrR {
        padding: 0px;
        align-items: center;
    }
    .cntrR div {
        justify-content: center;
        align-items: center;
    }
    .cntrR img {
        height: 100%;
        margin-bottom: -5px;
        min-width: 200px;
        padding: 12px;
    }
}
@media (max-width: 750px) {
    .cntrConteudo {
        padding: 50px 30px;
    }
}
@media (max-width: 700px) {
    .cntrR {
        display: none;
    }
    .banner {
        display: flex;
        height: 100%;
        padding: 20px 0px;
        align-items: center;
    }
    .cntrL{
        width: 100%;
        height: fit-content;
    }
    .cntrL div {
        transform: scale(1.08);
    }
    .raio2 {
        right: -60px;
    }
    .cntrColor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cntrConteudo p {
        font-size: 20px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

}
@media (max-width: 620px) {
    .cntrL div {
        margin-top: 0px;
    }
    .cntrConteudo h2 {
        font-size: 26px;
    }

}
@media (max-width: 500px) {
    header p {
        font-size: 30px;
    }
    .cntrL div h1 {
        font-size: 40px;
    }
    .cntrL div button {
        font-size: 16px;
        width: 150px;
        height: 30px;
    }
    .cntrL {
        justify-content: flex-start;
    }
    .cntrL div {
        margin-left: 50PX;
    }

}
@media (max-width: 450px) {
    .cntrConteudo {
        padding: 30px 20px;
    }
    .cntrConteudo h2 {
        font-size: 22px;
    }
}
@media (max-width: 350px) {
    .cntrL div h1 {
        font-size: 38px;
    }
    .cntrL div p {
        margin: 20px 0px;
        font-size: 12px;
    }
    .cntrConteudo h2 {
        font-size: 20px;
    }
}
@media (max-width: 320px) {

}




.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px 0px;
    max-width: 1200px;
    width: 100%;
}
.boxImgPost{
    cursor: pointer;
    position: relative;
}
.boxImgPost p{
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: .5;
}
.boxImgPost p span{
    font-size: 20px;
    margin-right: 4px;
    opacity: .9;
}



  /* Responsividade */
  @media (max-width: 1000px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 800px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 0px;

    }
  }

  @media (max-width: 400px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  .box {
    border: 2px solid transparent; /* Borda padrão invisível */
    transition: border 0.5s; /* Transição suave */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}


.active {
    border-color: rgb(0, 0, 0); /* Borda roxa */
}


footer{
    display: flex;
    background-color: black;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
}

footer > img{
    width: 200px;
    height: 200px;
}
.cntrInsta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.boxPerfil{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.boxPerfil img{
    width: 100px;
    height: 100px;
}
.boxPerfil span{
    color: white;
    margin-left: 30px;
}
.boxPerfil span p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}
.boxPerfil a{
    text-decoration: none;
    color: white;
    opacity: .5;

}
.txt{
    color: white;
    font-size: 16px;
    margin: 20px 30px 0px 30px;
    max-width: 25%;

}
.txt strong {
    margin-bottom: 20px;
}
.cntrBntsFooter{
    width: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
}
.cntrBntsFooter p{
    margin-bottom: 10px;
    font-size: 16px;
}
.cntrBntsFooter button{
    width: 150px;
    padding: 10px 0px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background-color: #ccc;
}

@media (max-width: 1150px) {
    .boxPerfil {
        margin-left: 10px;
    }
    .txt {
        max-width: 35%;
    }
}
@media (max-width: 1110px) {
    .boxPerfil {
        align-items: center;
        flex-direction: column;
    }
    .boxPerfil span {
        margin-left: 0px;
    }
    .boxPerfil img {
        margin-bottom: 10px;
    }
    .txt {
        max-width: 45%;
    }
}
@media (max-width: 1070px) {
    footer > img {
        width: 160px;
        height: 160px;
    }
}
@media (max-width: 1000px) {
    .txt{
        display: none;
    }
    .boxPerfil {
        flex-direction: row;
    }
    .boxPerfil img {
        margin-right: 18px;
    }
}
@media (max-width: 750px) {
    .txt{
        display: none;
    }
    .boxPerfil {
        flex-direction: column;
    }
    .boxPerfil img {
        margin-bottom: 20px;
    }
}
@media (max-width: 650px) {
    footer {
        padding: 20px 10px;
    }
}
@media (max-width: 550px) {
    footer > img {
        display: none;
    }
}
@media (max-width: 400px) {
    .borderBtnColor {
        margin-right: 6px;
        padding: 2px;
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 380px) {
    .borderBtnColor {
        margin-right: 6px;
        padding: 2px;
        width: 56px;
        height: 56px;
    }
    .btnColor {
        width: 46px;
        height: 46px;
        font-size: 10px;
    }
    .borderBtnColor-roxo{
        display: none;
    }
}

